*{
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 1rem;
    height: 100%;
}

body,header,nav,main,footer{
    border: 3px solid aqua;
    min-height: 50px;
    margin: 0.5rem;
    min-width: 400px;
}



.logo{
    background-color: #F3FF33;
    text-align: center;
}

.main{
    min-height: 200px;
    width: 70%;
    box-sizing: border-box;
    padding: 20px;
    

}



.titulos{
    font-family: 'Dancing Script', cursive;
    color: navy;
    
}

h2,h1{
    text-align: center;
}

.seccion p{
    font-size: 20px;
}

footer{
    min-height: 100px;
    background-color: #F3FF33;
}

.textoinferior{
    text-align: right;
} 

i{
    font-size: 40px;
    color: navy;
    
}

/*navbar responsive*/

body{
    margin: 0;
    font-family: sans-serif;
}

nav{
    width: 100%;
    background: #4e94ab;
}

#btn-menu{
    display: none;
}

nav label{
    display: none;
    width: 30px;
    height: 30px;
    padding: 10px;
    border-right: 1px solid #fff;
}

nav label :hover{
    cursor: pointer;
    background: rgba(0, 0, 0, 0.3);

}

.menu ul{
    margin: 0;
    list-style: none;
    padding: 0;
    display: flex;

}

.menu li{
    flex-grow: 1;
    text-align: center;

}

.menu li :hover{
    background: rgba(0, 0, 0, 0.3);

}

.menu li a{
    display: block;
    padding: 15px 20px;
    color: #fff ;
    text-decoration: none;
}

@media (max-width:650px){
    nav label{
        display: block;
    }

    .menu{
        position: absolute;
        background: #4e94ab;
        width: 70%;
        margin-left: -70%;
        transition: all 0.5s;
    }

    .menu ul{
        flex-direction: column;
    }

    .menu li{
        border-top: 1px solid #fff;
    }

    #btn-menu:checked ~ .menu{
        margin: 0;
    }


}




main{
    min-height: 200px;
    
}

.container{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
}

.foto1{
    width: 30vw;
    height: 30vh;
    border: gray solid 2px;
    display: inline-block;
}

.foto2{
    width: 30vw;
    height: 30vh;
    border: gray solid 2px;
    display: inline-block;
}
    


.foto3{
    width: 30vw;
    height: 30vh;
    border: gray solid 2px;
    display: inline-block;
}

.flexbox2{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
}

.fotoA{
    width: 30vw;
    height: 30vh;
    border: gray solid 2px;
    display: inline-block;
}

.fotoB{
    width: 30vw;
    height: 30vh;
    border: gray solid 2px;
    display: inline-block;
}

.fotoC{
    width: 30vw;
    height: 30vh;
    border: gray solid 2px;
    display: inline-block;
}

.contenido1 p{
    font-size: 20px;
    padding: 10px;
    

}

/*Pagina responsive*/

.contenedor{
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    overflow: hidden;

}

@media only screen and (max-width: 650px){
    
    
    
}




@media only screen and (max-width: 500px){
    

} 





